 
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
*:focus {
  outline: none;
  background-color: transparent;
  border: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* Hide scrollbar for Chrome */
body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.BasicSlideBorder{
  background-color: #fff !important;
}
.my-doc-viewer-style > .FishBowlPanel  {
  background-color: #fff !important;
 
}

/* setting up the new fonts */
@font-face {
  font-family: "DINNext-Medium";
  src: url("../public/fonts/DINNextW1G-Medium.otf") format("opentype");
}
@font-face {
  font-family: "DINNext-Bold";
  src: url("../public/fonts/DINNextW1G-Bold.otf") format("opentype");
}
@font-face {
  font-family: "DINNext-Regular";
  src: url("../public/fonts/DINNextW1G-Regular.otf") format("opentype");
}
@font-face {
  font-family: "DINNext-Light";
  src: url("../public/fonts/DINNextW1G-Light.otf") format("opentype");
}
@font-face{
   font-family: "DINNext-Arabic-meduim";
   src: url("../public/fonts/DINNextLTArabic-Medium-4.ttf") format("truetype");
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.Mui-selected   {
  color: #fff !important; 
  background: linear-gradient(to right, #1C7A54, #63C69A) !important;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.Mui-expanded  {
  background-color: #f6f2f2 !important; 
  padding: 5px;
  color: #fff !important;
}

.Mui-expanded.Mui-selected  {
  background-color: #f6f2f2 !important; /* Ensuring the expanded background color is applied */
  }
.css-g0jugy-MuiCollapse-root-MuiTreeItem-group{
   margin-left: 0 !important;
}
.Mui-selected.Mui-focused{
  background-color: #f6f2f2 !important; /* Ensuring the expanded background color is applied */
 
}

a {
  color: inherit;
  text-decoration: none;
}
/* not found page */
.notFound{
   color: #fff;
   background-color: #63c69a;
   padding: 15px;
   border-radius: 15px; 
   font-size: 18px;
   font-family: "DINNext-Bold", sans-serif;
   transition: all 0.3s ease-in-out;
}
.notFound:hover{
   box-shadow: 0px 2px 3px #63c69a;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.aboutBar {
  background-color: #0076c7;
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.MuiCollapse-vertical {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 25px !important;
}

.css-1bcfi89-MuiTreeItem-content:hover {
  background: transparent ;
}
.Mui-selected:hover{
   background-color: #efebeb !important;
}
 
/* Media screen for less than 430px */
@media (max-width: 430px) {
  .MuiTreeItem-content {
    padding: 0px !important;
  }
  .MuiTreeItem-label {
    padding: 0 !important;
  }
}

/* Loading spinner */
.loaderPdf {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #63C69A;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
  }
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #109285;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #109285;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #109285;
  }
  50% {
    box-shadow: 0 0 0 #109285;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #109285;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #e4e4ed #0000;

  animation: s6 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.custom-loader::before {
  border-color: #766df4 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.custom-loader::after {
  margin: 8px;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00685e 0%, #00685e 100%),
    linear-gradient(180deg, #00685e 0%, #00685e 100%),
    linear-gradient(98deg, #00685e 20.86%, #00685e 37.28%, #00685e 91.31%); /* Blue background with some transparency */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}
@media (min-width: 600px) {
  .owl-carousel .owl-item {
    margin-right: 10px; /* Add margin between items */
  }
}
 
.FishBowlPanel {
  background-color: #fff !important;
}