.main-footer {
    h1,
    p,
    .links {
        color: #fff;
    }

    .footer-body {
        .ar-lang & {
            background-position: right top;
            justify-content: start;
            flex-wrap: nowrap;
            column-gap: 40px;
        }
    }

    .pages-links {
        li {
            .ar-lang & {
                font-size: 0.77rem;
            }
        }
    }
}
