.main-footer {
    h1,
    p {
        color: #fff;
    }

    .links {
        color: #fff;

        @media (min-width: 1200px) and (max-width: 1450px) {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 1rem;
            text-align: center;
        }
    }

    .footer-body {
        .ar-lang & {
            background-position: right top;
            justify-content: start;
            flex-wrap: nowrap;
            column-gap: 40px;
            background-size: 100%;

            @media (min-width: 1200px) and (max-width: 1450px) {
                padding: 32px;
                justify-content: center;
            }
        }
    }

    .pages-links {
        li {
            .ar-lang & {
                font-size: 0.77rem;
            }
        }
    }
}
